<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h2>Редактирование информации о продукте</h2><br>
    <div th:each="el : ${pizza}">
        <form method="post">
            <input type="text" th:value="${el.name}" name="name" placeholder="Введите название товара" class="form-control"><br>
            <input type="number" step="0.01" th:value="${el.price}" name="price" placeholder="Введите стоимость товара" class="form-control"><br>
            <input type="text" th:value="${el.description}" name="description" placeholder="Введите описание товара" class="form-control"><br>
            <input type="number" step="1" th:value="${el.quant}" name="quant" placeholder="Введите количество товаров" class="form-control"><br>
            <input type="text" th:value="${el.image_link}" name="image_link" placeholder="Введите название изображения с расширением" class="form-control"><br>

            <div style="display: flex;">
            <form th:action="'/pizza/' + ${el.id} + '/edit'" method="post">
                <button type="submit" class="btn btn-success">Обновить</button>
            </form>

            <form th:action="'/pizza/' + ${el.id} + '/delete'" method="post" style="margin-left: 10px">
                <button class="btn btn-warning" type="submit" >Удалить</button>
            </form>
            </div>
        </form>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>