<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h2>Добавление продукта</h2><br>
    <div>
        <form action="/pizza/add" method="post">
            <input type="text" name="name" placeholder="Введите название продукта" class="form-control"><br>
            <input type="number" step="0.01" name="price" placeholder="Введите стоимость товара" class="form-control"><br>
            <input type="text" name="description" placeholder="Введите описание товара" class="form-control"><br>
            <input type="number" step="1" name="quant" placeholder="Введите количество товаров" class="form-control"><br>
            <input type="text" name="image_link" placeholder="Введите название изображения с расширением" class="form-control"><br>

            <button type="submit" class="btn btn-success">Добавить продукт</button>
        </form>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>